/* ALL */
@font-face {
    font-family: Signika;
    src: url('./fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf');
}
html, body, #root, .App, button, input, dialog {
    font-family: Signika;
}
html, body, #root, .App {
    background-color: #121212;
    margin: 0;
    font-size: 18px;
}
.App {
    padding-bottom: 1rem;
}
html, body, #root, .App, input {
    color: white;
}

input {
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
    border: none;
    color-scheme: dark;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
}

button {
    font-size: 15px;
}
.formButtons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

/*
    Charcoal #101820
    background: #121212
    dark gray: #212121
    lghter gray: #323232
    dark teal: #0D7377
    neon teal: #14FFEC
    neon green: #16FF00
    bright yellow: #FEE715
    bright red: #EE4B2B
*/

/* Main Page */
.mainPage {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.mainPage-container {
    margin-top: 4rem;
    border-radius: 1rem;
    min-width: 66%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 4rem;
}
    /* Date navigation */
    .date-navigation {
        display: flex;
        justify-content: center;
        gap: 4px;
        align-items: center;
    }
    .date-navigation .date-nav-button {
        width: 30px;
        height: 20px;
        filter: invert(70%) sepia(42%) saturate(7488%) hue-rotate(72deg) brightness(124%) contrast(142%);
    }
    .date-navigation #previousDate {
        transform: rotate(180deg);
    }
    .date-navigation #previousDate:hover {
        transform: rotate(180deg) scale(1.2);
    }
    .date-navigation .date-nav-button:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    .date-navigation .dateInput {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 212px;
    }

    /* Calorie budget */
    .calorieBudget {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
    }
    .calorieBudget h2 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
    }
    .caloriesSpan {
        font-size: 34px;
        color: #14FFEC;
    }
    #editCaloriesButton {
        width: 25px;
        filter: invert(88%) sepia(44%) saturate(1563%) hue-rotate(344deg) brightness(108%) contrast(99%);
    }
    #editCaloriesButton:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    .editCaloriesContainer {
        display: flex;
        align-items: center;
    }
    #editCalorieBudget input {
        font-size: 25px;
        text-align: center;
        color: #14FFEC;
        font-weight: 600;
    }
    .editCaloriesContainer button {
        padding: 4px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .editCaloriesContainer button img {
        width: 35px;
    }
    .editCaloriesContainer #closeEdit {
        filter: invert(100%) sepia(25%) saturate(1%) hue-rotate(246deg) brightness(110%) contrast(101%);
    }
    .editCaloriesContainer #confirmEdit {
        padding-left: 4px;
        filter: invert(88%) sepia(44%) saturate(1563%) hue-rotate(344deg) brightness(108%) contrast(99%);
    }
    .editCaloriesContainer button img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    /* Calories Remaining */
    .caloriesRemaining {
        display: flex;
        justify-content: center;
    }
    .caloriesRemaining h2 {
        margin-bottom: 1rem;
        margin-top: 0;
    }
    .caloriesRemaining .caloriesSpan {
        color: #16FF00;
    }

    /* Meal overviews */
    .allMeals {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .mealOverview {
        padding: 0 1rem 0 1rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        width: 50%;
        border: 2px solid white;
    }
    .mealOverview:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
        cursor: pointer;
        transform: scale(1.02);
    }

 /* Meal Modal */
    .modalBackground {
        width: 100%;
        height: 100%;
        background-color: #121212;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    dialog {
        color: white;
        border: none;
        border-radius: 1rem;
        z-index: 1;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 5px 12px rgb(0 0 0 / 80%);
    }
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
    .modalContent {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1rem;
        width: 50vw;
        min-width: 300px;
        height: 60vh;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
    }
    .modalHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .modalHeader h1 {
        margin: 0;
    }
    .closeModalButton {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .closeModalButton img {
        filter: invert(100%) sepia(25%) saturate(1%) hue-rotate(246deg) brightness(110%) contrast(101%);
        width: 30px;
    }
    .closeModalButton img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    .modalSearchInput {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    .modalSearchInput input {
        color: white;
    }
    .foodSearchContainer {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
        border-radius: 1rem;
        padding: 1rem;
    }

    /* Existing Foods */
    .existingFoods {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 1rem 0 1rem 0;
    }
    .individualExistingFood {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        border-radius: 1rem;
        padding: 8px;
    }
    .individualExistingFood:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scale(1.02);
    }
    .individualExistingFood .editClickable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        width: 100%;
    }
    .individualExistingFood .editClickable .existingFoodStats {
        display: flex;
        flex-direction: column;
    }
    .individualExistingFood .editClickable .existingFoodStats .serving-stats {
        display: flex;
        justify-content: flex-end;
        font-size: 15px;
    }
    .individualExistingFood .left {
        display: flex;
        gap: 8px;
    }
    .individualExistingFood .left img {
        width: 50px;
        border-radius: 8px;
    }
    .individualExistingFood .right {
        display: flex;
        gap: 8px;
    }
    .individualExistingFood .right button {
        background-color: rgba(255, 0, 0, 0.8);;
        border: none;
        border-radius: 8px;
    }
    .individualExistingFood .right button:hover {
        cursor: pointer;
        background-color: rgba(255, 0, 0, 1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 100%);
        transform: scale(1.02);
    }
    .modalBackButtonContainer {
        margin-top: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1rem;
    }
    .modalBackButtonContainer img {
        filter: invert(100%) sepia(25%) saturate(1%) hue-rotate(246deg) brightness(110%) contrast(101%);
        width: 30px;
    }
    .modalBackButtonContainer img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    /* Search results */
    .modalSearchResults {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }
    .modalSearchResults li {
        display: flex;
        padding: 8px;
        border-radius: 8px;
    }
    .modalSearchResults li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scale(1.02);
    }
    .searchedFoodItems {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .searchedFoodItem {
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
        border-radius: 8px;
    }
    .searchedFoodItem .left {
        display: flex;
        gap: 8px;
    }
    .searchedFoodItem .left img {
        width: 50px;
        border-radius: 8px;
    }

    /* Individual Food Item */
    .individualFoodItem {
        display: flex;
        flex-direction: column;
    }
    .individualFoodItem .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        min-height: 300px;
    }
    .individualFoodItem .headerContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .individualFoodItem .main header {
        margin: 0 1rem 0 1rem;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }
    .individualFoodItem .main .imageContainer {
        position: absolute;
        z-index: -1;
        width: 100%;
        display: flex;
        overflow: hidden;
        left: 0;
        height: 300px;
    }
    .individualFoodItem .main .imageContainer img {
        object-fit: contain;
        width: 100%;
    }
    .unitButtons {
        display: flex;
        justify-content: center;
        overflow:auto;
        gap: 8px;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 0 1rem 0;
    }
    .unitButtons button {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 20px;
        min-width: 100px;
        padding: 8px;
    }
    .unitButtons button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scaleY(1.05);
    }