/* ALL */
@font-face {
    font-family: Signika;
    src: url('./fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf');
}
html, body, #root, .App, button, input, dialog {
    font-family: Signika;
}
html, body, #root, .App {
    background-color: #121212;
    margin: 0;
    font-size: 18px;
}
.App {
    margin-top: 68px; /* 52px navbar height + 1rem */
}
html, body, #root, .App, input {
    color: white;
}

input {
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
    border: none;
    color-scheme: dark;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
}

button {
    font-size: 15px;
}
.formButtons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

/*
    Charcoal #101820
    background: #121212
    dark gray: #212121
    lghter gray: #323232
    dark teal: #0D7377
    neon teal: #14FFEC
    neon green: #16FF00
    bright yellow: #FEE715
    bright red: #EE4B2B
*/

/* Main Page */
.mainPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mainPage-container {
    border-radius: 1rem;
    min-width: 66%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
}
    /* Date navigation */
    .date-navigation {
        display: flex;
        justify-content: center;
        gap: 4px;
    }
    .date-navigation .dateInput {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 212px;
    }

    /* Calorie budget */
    .caloriesRemaining {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .caloriesRemaining h2 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .caloriesSpan {
        font-size: 34px;
    }
    .editCaloriesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 1rem 0;
    }
    #editCalorieBudget input {
        font-size: 25px;
        text-align: center;
    }

    /* Meal overviews */
    .allMeals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mealOverview {
        padding: 0 1rem 0 1rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .mealOverview:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
        cursor: pointer;
        transform: scale(1.05);
    }

 /* Meal Modal */
    .modalBackground {
        width: 100%;
        height: 100%;
        background-color: #121212;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    dialog {
        color: white;
        border: none;
        border-radius: 1rem;
        z-index: 1;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 5px 12px rgb(0 0 0 / 80%);
    }
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
    .modalContent {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1rem;
        width: 50vw;
        min-width: 300px;
        height: 60vh;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
    }
    .modalHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .modalHeader h1 {
        margin: 0;
    }
    .closeModalButton {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .modalSearchInput {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    .modalSearchInput input {
        color: white;
    }
    .foodSearchContainer {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
        border-radius: 1rem;
        padding: 1rem;
    }

    /* Existing Foods */
    .existingFoods {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 1rem 0 1rem 0;
    }
    .individualExistingFood {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        border-radius: 1rem;
        padding: 8px;
    }
    .individualExistingFood:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scale(1.05);
    }
    .individualExistingFood .editClickable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        width: 100%;
    }
    .individualExistingFood .left {
        display: flex;
        gap: 8px;
    }
    .individualExistingFood .left img {
        width: 50px;
        border-radius: 8px;
    }
    .individualExistingFood .right {
        display: flex;
        gap: 8px;
    }
    .individualExistingFood .right button {
        background-color: rgba(255, 0, 0, 0.8);;
        border: none;
        border-radius: 8px;
    }
    .individualExistingFood .right button:hover {
        cursor: pointer;
        background-color: rgba(255, 0, 0, 1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 100%);
        transform: scale(1.05);
    }
    .modalBackButtonContainer {
        margin-top: 1rem;
        position: absolute;
        top: 0;
    }

    /* Search results */
    .modalSearchResults {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }
    .modalSearchResults li {
        display: flex;
        padding: 8px;
        border-radius: 8px;
    }
    .modalSearchResults li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scale(1.05);
    }
    .searchedFoodItems {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .searchedFoodItem {
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
        border-radius: 8px;
    }
    .searchedFoodItem .left {
        display: flex;
        gap: 8px;
    }
    .searchedFoodItem .left img {
        width: 50px;
        border-radius: 8px;
    }

    /* Individual Food Item */
    .individualFoodItem {
        display: flex;
        flex-direction: column;
    }
    .individualFoodItem .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        min-height: 300px;
    }
    .individualFoodItem .main header {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        border-radius: 8px;
    }
    .individualFoodItem .main .imageContainer {
        position: absolute;
        z-index: -1;
        width: 100%;
        display: flex;
        overflow: hidden;
        left: 0;
        height: 300px;
    }
    .individualFoodItem .main img {
        object-fit: cover;
        width: 100%;
    }
    .unitButtons {
        display: flex;
        justify-content: center;
        overflow:auto;
        gap: 8px;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 0 1rem 0;
    }
    .unitButtons button {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 20px;
        min-width: 100px;
        padding: 8px;
    }
    .unitButtons button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
        transform: scaleY(1.05);
    }