.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem;
}
#logoutButton {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    border: none;
    width: 100px;
    border-radius: 8px;
}
#logoutButton:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 1);
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    .navbar {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
    #logoutButton {
        position: relative;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 8px;
        border: none;
        width: 100px;
        border-radius: 8px;
    }
}